:root {
  --fc-button-text-color: var(--blue-primary);
  --fc-button-bg-color: transparent;
  --fc-button-active-bg-color: transparent;
  --fc-button-hover-bg-color: transparent;
  --fc-button-border-color: var(--blue-primary);
  --fc-today-bg-color: transparent;
}

.fc .fc-button {
  border: 0px;
}

.fc-button-active {
  text-underline-offset: 6px;
  text-decoration: underline;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:focus {
  box-shadow: 0 0 0 2px rgba(76, 91, 106, 0.5);
}

.fc-col-header-cell .fc-day {
  text-align: end;
}

.fc-header-toolbar > .fc-toolbar-chunk {
  display: flex;
}

.fc .fc-daygrid-day-top {
  display: flex;
  flex-direction: row;
}

.fc-daygrid-day-top .fc-daygrid-day-number {
  margin-top: 4px;
  margin-bottom: 4px;
}

.fc-daygrid-day-top .fc-daygrid-day-number .date-number {
  /* padding: 0.5rem 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.fc-day-today .fc-daygrid-day-top .fc-daygrid-day-number .date-number {
  border-radius: 50%;
  background-color: var(--blue-primary);
  color: white;
}

.fc-daygrid-day-top > a {
  width: 100%;
}
